adlatus/adlatus-wita/src/main/resources/wita/v15/xsd/oss-product-FTTH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ftth="http://wholesale.telekom.de/oss/v15/ftth" xmlns:order="http://wholesale.telekom.de/oss/v15/order" xmlns:message="http://wholesale.telekom.de/oss/v15/message" xmlns:complex="http://wholesale.telekom.de/oss/v15/complex" xmlns:simple="http://wholesale.telekom.de/oss/v15/simple" xmlns:enum="http://wholesale.telekom.de/oss/v15/enm" targetNamespace="http://wholesale.telekom.de/oss/v15/ftth" version="15.00.00/2020-05-09">
	<xsd:import namespace="http://wholesale.telekom.de/oss/v15/order" schemaLocation="oss-order.xsd"/>
	<xsd:import namespace="http://wholesale.telekom.de/oss/v15/message" schemaLocation="oss-message.xsd"/>
	<xsd:import namespace="http://wholesale.telekom.de/oss/v15/complex" schemaLocation="oss-type-complex.xsd"/>
	<xsd:import namespace="http://wholesale.telekom.de/oss/v15/simple" schemaLocation="oss-type-simple.xsd"/>
	<xsd:import namespace="http://wholesale.telekom.de/oss/v15/enm" schemaLocation="oss-type-enum.xsd"/>
	<!-- 
		!
		!	Produkt im Auftrag
		!
	-->
	<xsd:element name="produktAuftrag" type="ftth:ProduktFTTHType"/>
	<xsd:complexType name="ProduktFTTHType">
		<xsd:complexContent>
			<xsd:extension base="complex:ProduktType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- 
		!
		!	Bereitstellung
		!
	-->
	<xsd:element name="NEU" type="ftth:FTTHBereitstellungType"/>
	<xsd:complexType name="FTTHBereitstellungType">
		<xsd:complexContent>
			<xsd:extension base="order:BereitstellungProduktType">
				<xsd:sequence>
					<xsd:element name="vorabstimmungsID" type="simple:VorabstimmungsIdType" minOccurs="0"/>				
					<xsd:element name="standortA" type="ftth:StandortAFTTHType">
						<xsd:annotation>
							<xsd:documentation source="http://wholesale.telekom.de/oss/doc/notes">Es ist die Wohnadresse anzugeben, nicht der Standort des Leitungsabschlusses</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vormieter" type="complex:VormieterAnschlussType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Daten zur Identifikation eines vorhandenen Netzanschlusses (Telefon, Anlagenanschluss)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ansprechpartnerMontage" type="complex:AnsprechpartnerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>der Ansprechpartner, mit dem die Montageleistung abzustimmen ist</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="montagehinweis" type="simple:MontagehinweisType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- 
		!
		!	Kündigung
		!
	-->
	<xsd:element name="KUE-KD" type="ftth:FTTHKuendigungType"/>
	<xsd:complexType name="FTTHKuendigungType">
		<xsd:complexContent>
			<xsd:extension base="order:KuendigungProduktType">
				<xsd:sequence>
					<xsd:element name="vorabstimmungsID" type="simple:VorabstimmungsIdType" minOccurs="0"/>				
					<xsd:element name="ansprechpartnerMontage" type="complex:AnsprechpartnerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>der Ansprechpartner, mit dem die Montageleistung abzustimmen ist</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="montagehinweis" type="simple:MontagehinweisType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- 
		!
		!	Providerwechsel
		!
	-->
	<xsd:element name="PV" type="ftth:FTTHProviderwechselType"/>
	<xsd:complexType name="FTTHProviderwechselType">
		<xsd:complexContent>
			<xsd:extension base="order:ProviderwechselProduktType">
				<xsd:sequence>
					<xsd:element name="vorabstimmungsID" type="simple:VorabstimmungsIdType" minOccurs="0"/>				
					<xsd:element name="standortA" type="ftth:StandortAnbieterWechselErweitertFTTHType">
						<xsd:annotation>
							<xsd:documentation source="http://wholesale.telekom.de/oss/doc/notes">Im Dreierprozess werden die Adressdaten aus den Vertragsdaten übernommen, Angaben zur Person, zum Gebäudeteil und Lage TAE_ONT werden berücksichtigt.</xsd:documentation>							
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ansprechpartnerMontage" type="complex:AnsprechpartnerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>der Ansprechpartner, mit dem die Montageleistung abzustimmen ist</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="montagehinweis" type="simple:MontagehinweisType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- 
		!
		!	Verbundleistung
		!
	-->
	<xsd:element name="VBL" type="ftth:FTTHVerbundleistungType"/>
	<xsd:complexType name="FTTHVerbundleistungType">
		<xsd:complexContent>
			<xsd:extension base="order:VerbundleistungProduktType">
				<xsd:sequence>
					<xsd:element name="vorabstimmungsID" type="simple:VorabstimmungsIdType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://wholesale.telekom.de/oss/doc/notes">Pflichtangabe bei Wechsel von Telekom zu Provider</xsd:documentation>
						</xsd:annotation>
					</xsd:element>				
					<xsd:element name="standortA" type="ftth:StandortAnbieterWechselErweitertFTTHType">
						<xsd:annotation>
							<xsd:documentation source="http://wholesale.telekom.de/oss/doc/notes">Beim Wechsel von Telekom zu Provider werden die Angaben aus der Vorabstimmung übernommen. Angaben zur Person, zum Gebäudeteil und Lage TAE_ONT werden berücksichtigt.</xsd:documentation>
							<xsd:documentation source="http://wholesale.telekom.de/oss/doc/notes">Im Dreierprozess werden die Adressdaten aus den Vertragsdaten übernommen, Angaben zur Person, zum Gebäudeteil und Lage TAE_ONT werden berücksichtigt.</xsd:documentation>														
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ansprechpartnerMontage" type="complex:AnsprechpartnerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>der Ansprechpartner, mit dem die Montageleistung abzustimmen ist</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="montagehinweis" type="simple:MontagehinweisType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- 
		!
		!	Leistungsänderung
		!
	-->
	<xsd:element name="LAE" type="ftth:FTTHLeistungsaenderungType"/>
	<xsd:complexType name="FTTHLeistungsaenderungType">
		<xsd:complexContent>
			<xsd:extension base="order:LeistungsaenderungProduktType">
				<xsd:sequence>
					<xsd:element name="standortA" type="complex:StandortAType"/>
					<xsd:element name="ansprechpartnerMontage" type="complex:AnsprechpartnerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>der Ansprechpartner, mit dem die Montageleistung abzustimmen ist</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="montagehinweis" type="simple:MontagehinweisType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- 
		!
		!	Leistungsmerkmal-Änderung
		!
	-->
	<xsd:element name="AEN-LMAE" type="ftth:FTTHLeistungsmerkmalAenderungType"/>
	<xsd:complexType name="FTTHLeistungsmerkmalAenderungType">
		<xsd:complexContent>
			<xsd:extension base="order:LeistungsmerkmalAenderungProduktType">
				<xsd:sequence>
					<xsd:element name="standortA" type="complex:StandortAType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- 
		!
		!	Produktgruppenwechsel
		!
	-->
	<xsd:element name="PGW" type="ftth:FTTHProduktgruppenWechselType"/>
	<xsd:complexType name="FTTHProduktgruppenWechselType">
		<xsd:complexContent>
			<xsd:extension base="order:ProduktgruppenwechselProduktType">
				<xsd:sequence>
					<xsd:element name="standortA" type="complex:StandortAType"/>
					<xsd:element name="ansprechpartnerMontage" type="complex:AnsprechpartnerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>der Ansprechpartner, mit dem die Montageleistung abzustimmen ist</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="montagehinweis" type="simple:MontagehinweisType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- 
		!
		!	Produktattribute für Meldungen 
		!
	-->
	<xsd:element name="produktMeldung" type="ftth:ProduktFTTHMeldungType"/>
	<xsd:complexType name="ProduktFTTHMeldungType">
		<xsd:complexContent>
			<xsd:extension base="message:MeldungProduktType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ABM" type="ftth:MeldungsattributeFTTH-ABMType"/>
	<xsd:complexType name="MeldungsattributeFTTH-ABMType">
		<xsd:complexContent>
			<xsd:extension base="message:MeldungsattributeABMType">
				<xsd:sequence>
					<xsd:element name="vertragsnummer" type="simple:VertragsnummerType"/>
					<xsd:element name="rnrPortierung" type="complex:RufnummernportierungEinzelanschlussMeldungType" minOccurs="0"/>
					<xsd:element name="LineID" type="simple:LineIDType" minOccurs="0"/>						
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AKM-PV" type="ftth:MeldungsattributeFTTH-AKM-PVType"/>
	<xsd:complexType name="MeldungsattributeFTTH-AKM-PVType">
		<xsd:complexContent>
			<xsd:extension base="message:MeldungsattributeAKM-PVType">
				<xsd:sequence>
					<xsd:element name="vorabstimmungsID" type="simple:VorabstimmungsIdType" minOccurs="0"/>					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RUEM-PV" type="ftth:MeldungsattributeFTTH-RUEM-PVType"/>
	<xsd:complexType name="MeldungsattributeFTTH-RUEM-PVType">
		<xsd:complexContent>
			<xsd:extension base="message:MeldungsattributeRUEM-PVType">
				<xsd:sequence>
					<xsd:element name="vorabstimmungsID" type="simple:VorabstimmungsIdType" minOccurs="0"/>					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- 
		!
		! Meldungspositionsattribute
		!
	-->
	<xsd:element name="ABBM" type="ftth:MeldungspositionsattributeFTTH-ABBMType"/>
	<xsd:complexType name="MeldungspositionsattributeFTTH-ABBMType">
		<xsd:complexContent>
			<xsd:extension base="message:MeldungspositionsattributeABBMType"/>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	<!-- StandortA Angaben für FTTH -->
	
	<xsd:complexType name="StandortAnbieterWechselErweitertFTTHType">
		<xsd:annotation>
			<xsd:documentation><!-- Reduzierte StandortA-Angaben für GF VBL und PV mit Lage TAE/ONT Angabe --></xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="complex:StandortAnbieterWechselErweitertType">
				<xsd:sequence>
					<xsd:element name="homeID" type="simple:HomeIDType" minOccurs="0"/>			
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	
	<xsd:complexType name="StandortAFTTHType">
		<xsd:annotation>
			<xsd:documentation><!-- Reduzierte StandortA-Angaben für GF VBL und PV mit Lage TAE/ONT Angabe --></xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="complex:StandortAType">
				<xsd:sequence>
					<xsd:element name="homeID" type="simple:HomeIDType" minOccurs="0"/>			
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	
</xsd:schema>



