hurrican/hurrican-wita/src/resources/wsdl/CarrierNegotiationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.mnet.de/esb/cdm/SupplierPartner/CarrierNegotiationService/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CarrierNegotiationService"
                  targetNamespace="http://www.mnet.de/esb/cdm/SupplierPartner/CarrierNegotiationService/v1">
   <wsdl:documentation>Version 1.0</wsdl:documentation>
   <wsdl:types>
      <xsd:schema xmlns="http://www.mnet.de/esb/cdm/SupplierPartner/CarrierNegotiationService/v1"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.mnet.de/esb/cdm/SupplierPartner/CarrierNegotiationService/v1"
                  version="1.0"
                  elementFormDefault="qualified"
                  attributeFormDefault="unqualified">
         <xsd:simpleType name="AbfragestelleType">
            <xsd:annotation>
               <xsd:documentation>Nummer der Abfragestelle, maximal 6 Ziffern</xsd:documentation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Beispiel: 0</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="6"/>
               <xsd:pattern value="\d{1,6}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="AbstractBasisMeldungType" abstract="true">
            <xsd:annotation>
               <xsd:documentation>Strukturbeschreibung einer Meldung. Für jeden Meldungstyp existiert eine konkrete Ausprägung der enthaltenen Meldungspositionen
      </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="absender" type="tns:CarrierIdentifikatorType">
                  <xsd:annotation>
                     <xsd:documentation>Eindeutiger Identifikator des Absenders der Meldung</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="empfaenger" type="tns:CarrierIdentifikatorType">
                  <xsd:annotation>
                     <xsd:documentation>Eindeutiger Identifikator des Empfängers der Meldung</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="version" type="xsd:unsignedShort">
                  <xsd:annotation>
                     <xsd:documentation>Major interface version the message was received or should be sent</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="vorabstimmungsIdRef" type="tns:VorabstimmungsIdType">
                  <xsd:annotation>
                     <xsd:documentation>Referenz auf die Vorabstimmungsanfrage</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="AbstractKuendigungGeschaeftsfallType" abstract="true">
            <xsd:annotation>
               <xsd:documentation>Abstrakter Basistyp für Vorabstimmungsanfragen mit Kündigung</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:VorabstimmungType">
                  <xsd:sequence>
                     <xsd:element name="standort" type="tns:StandortType">
                        <xsd:annotation>
                           <xsd:documentation>Standort (TAE) der zu übernehmenden Ressource</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="AbstractMeldungType" abstract="true">
            <xsd:annotation>
               <xsd:documentation>Basistyp für alle Meldungen außer TEQ</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractBasisMeldungType">
                  <xsd:sequence>
                     <xsd:element name="endkundenvertragspartner" type="tns:EKPType">
                        <xsd:annotation>
                           <xsd:documentation>Eindeutige Identifikatoren des aufnehmenden und abgebenden Endkundenvertragspartners (EKPauf/EKPabg)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="geschaeftsfall" type="tns:GeschaeftsfallEnumType">
                        <xsd:annotation>
                           <xsd:documentation>Geschäftsfall der Vorabstimmungsanfrage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="AbstractMeldungsPositionType" abstract="true">
            <xsd:annotation>
               <xsd:documentation>Basistyp für Meldungsposition</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="Meldungscode" type="tns:MeldungscodeType"/>
               <xsd:element name="Meldungstext" type="tns:MeldungstextType"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="AbstractStornoAenderungType" abstract="true">
            <xsd:annotation>
               <xsd:documentation>Abstrakter Basistyp für Stornoanfragen als Änderung</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:StornoType">
                  <xsd:sequence>
                     <xsd:element name="name" type="tns:PersonOderFirmaType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Name, Vorname Endkunde, Firmenname/Anschlussinhaber</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="standort" type="tns:StandortType" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="AbstractStornoAufhebungType" abstract="true">
            <xsd:annotation>
               <xsd:documentation>Abstrakter Basistyp für Stornoanfragen als Aufhebung</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:StornoType"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="AdresseAbweichendType">
            <xsd:annotation>
               <xsd:documentation>Korrekturen von Adressangaben bei ADA (Adresse abweichend)</xsd:documentation>
            </xsd:annotation>
            <xsd:choice>
               <xsd:element name="hausnummer" type="tns:HausnummerType">
                  <xsd:annotation>
                     <xsd:documentation>Korrekte Hausnummer (ADAHSNR)</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ort" type="tns:OrtsnameType">
                  <xsd:annotation>
                     <xsd:documentation>Korrekter Ort (ADAORT)</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="postleitzahl" type="tns:PostleitzahlType">
                  <xsd:annotation>
                     <xsd:documentation>Korrekte PLZ (ADAPLZ)</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="strassenname" type="tns:StrassennameType">
                  <xsd:annotation>
                     <xsd:documentation>Korrekter Straßenname (ADASTR)</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:choice>
         </xsd:complexType>
         <xsd:simpleType name="AenderungsIdType">
            <xsd:annotation>
               <xsd:documentation>Eindeutige ID der Terminverschiebungsanfrage</xsd:documentation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Beispiel: DEU.EKP1.T000000013</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="16"/>
               <xsd:maxLength value="21"/>
               <xsd:pattern value="[0-9A-Z]{3}\.[0-9A-Z]{1,6}\.T[0-9A-Z]{9}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="AnfrageType" abstract="true">
            <xsd:annotation>
               <xsd:documentation>Abstrakter Basistyp für alle Anfragen</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="absender" type="tns:CarrierIdentifikatorType">
                  <xsd:annotation>
                     <xsd:documentation>Eindeutiger Identifikator des Absenders der Anfrage</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="empfaenger" type="tns:CarrierIdentifikatorType">
                  <xsd:annotation>
                     <xsd:documentation>Eindeutiger Identifikator des Empfängers der Anfrage</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="version" type="xsd:unsignedShort">
                  <xsd:annotation>
                     <xsd:documentation>Major interface version the message was received or should be sent</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="endkundenvertragspartner" type="tns:EKPType">
                  <xsd:annotation>
                     <xsd:documentation>Eindeutige Identifikatoren des aufnehmenden und abgebenden Endkundenvertragspartners (EKPauf/EKPabg)</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="AnredeFirmaEnumType">
            <xsd:annotation>
               <xsd:documentation>Firma als Anrede</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="4">
                  <xsd:annotation>
                     <xsd:documentation>Firma</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
               <xsd:enumeration value="9">
                  <xsd:annotation>
                     <xsd:documentation>keine Anrede</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="AnredePersonEnumType">
            <xsd:annotation>
               <xsd:documentation>Die Anrede zur Person</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1">
                  <xsd:annotation>
                     <xsd:documentation>Herr</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
               <xsd:enumeration value="2">
                  <xsd:annotation>
                     <xsd:documentation>Frau</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
               <xsd:enumeration value="9">
                  <xsd:annotation>
                     <xsd:documentation>Keine Anrede</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CarrierCode">
            <xsd:annotation>
               <xsd:documentation>Country-Code und Carrier-Code nach ITU M.1400</xsd:documentation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Beispiel: DEU.EKP1</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="5"/>
               <xsd:maxLength value="10"/>
               <xsd:pattern value="[0-9A-Z]{3}\.[0-9A-Z]{1,6}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="CarrierIdentifikatorType">
            <xsd:annotation>
               <xsd:documentation>Eindeutiger Identifikator eines Carriers</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="carrierCode" type="tns:CarrierCode"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="DurchwahlnummerType">
            <xsd:annotation>
               <xsd:documentation>Durchwahlnummer des Anlagenanschlusses, maximal 8 Ziffern</xsd:documentation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Beispiel: 1234</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="8"/>
               <xsd:pattern value="\d{1,8}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="EKPType">
            <xsd:annotation>
               <xsd:documentation>Enthält Angaben zu Endkundenvertragspartnern: aufnehmend und abgebend</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="EKPauf" type="tns:CarrierIdentifikatorType">
                  <xsd:annotation>
                     <xsd:documentation>Eindeutiger Identifikator des aufnehmenden Endkundenvertragspartners (EKPauf)</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="EKPabg" type="tns:CarrierIdentifikatorType">
                  <xsd:annotation>
                     <xsd:documentation>Eindeutiger Identifikator des abgebenden Endkundenvertragspartners (EKPabg)</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="ErlaubterZeichenBereichMehrzeiligType">
            <xsd:annotation>
               <xsd:documentation>Einschränkung von zugelassenen UTF-8 Zeichen für die mehrzeiligen alphanumerischen Datenwerte. Folgende Zeichen sind erlaubt:
        Tabulator, LineFeed, CarriageReturn, Leerzeichen, 0-9, a-z, A-Z,
        !"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\]^_{}§°±²³ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõöøùúûüýþÿ
      </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:pattern value="([&#x9;&#xA;&#xD;]|[ -_]|[a-{]|[}&#x7f;§]|[°-³]|[À-Ö]|[Ø-ö]|[ø-ÿ])*"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ErlaubterZeichenBereichType">
            <xsd:annotation>
               <xsd:documentation>Einschränkung von zugelassenen UTF-8 Zeichen für die alphanumerischen Datenwerte. Folgende Zeichen sind erlaubt: Tabulator,
        Leerzeichen, 0-9, a-z, A-Z, !"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\]^_{}§°±²³ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõöøùúûüýþÿ
      </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:pattern value="([&#x9;]|[ -_]|[a-{]|[}&#x7f;§]|[°-³]|[À-Ö]|[Ø-ö]|[ø-ÿ])*"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="FirmaType">
            <xsd:annotation>
               <xsd:documentation>Angaben zur Firma</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="anrede" type="tns:AnredeFirmaEnumType"/>
               <xsd:element name="firmenname" type="tns:VornameType">
                  <xsd:annotation>
                     <xsd:documentation>Name der Firma</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="firmennameZweiterTeil" type="tns:NachnameType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Firmenname 2. Teil</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="Freitext255Type">
            <xsd:annotation>
               <xsd:documentation>Freitextbemerkung 255 Zeichen lang</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichMehrzeiligType">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="255"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="GeschaeftsfallEnumType">
            <xsd:annotation>
               <xsd:documentation>Aufzählung der Geschäftsfalle</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="VA-KUE-MRN">
                  <xsd:annotation>
                     <xsd:documentation>Kündigung mit Rufnummernportierung</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
               <xsd:enumeration value="VA-KUE-ORN">
                  <xsd:annotation>
                     <xsd:documentation>Kündigung ohne Rufnummernportierung</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
               <xsd:enumeration value="VA-RRNP">
                  <xsd:annotation>
                     <xsd:documentation>Reine Rufnummernportierung</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
               <xsd:enumeration value="STR-AUF">
                  <xsd:annotation>
                     <xsd:documentation>Storno (Aufhebung)</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
               <xsd:enumeration value="STR-AEN">
                  <xsd:annotation>
                     <xsd:documentation>Storno (Änderung)</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
               <xsd:enumeration value="TVS-VA">
                  <xsd:annotation>
                     <xsd:documentation>Terminverschiebung</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="HausnummerType">
            <xsd:annotation>
               <xsd:documentation>Hausnummer</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:pattern value="\d{1,4}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="HausnummernZusatzType">
            <xsd:annotation>
               <xsd:documentation>Mögliche Ergänzung zur Hausnummer</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="6"/>
               <xsd:whiteSpace value="collapse"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="IdentifiziererType">
            <xsd:annotation>
               <xsd:documentation>Kenner des EKPabg zur Angabe im Wechselauftrag</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="20"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="KopplungskennerType">
            <xsd:annotation>
               <xsd:documentation>eindeutige Identifikation zur Kopplung mehrerer Aufträge innerhalb eines Projektes</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="30"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="KuendigungMitRNPGeschaeftsfallType">
            <xsd:annotation>
               <xsd:documentation>Vorabstimmungsanfrage für den Geschäftsfall VA-KUE-MRN</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractKuendigungGeschaeftsfallType">
                  <xsd:sequence>
                     <xsd:element name="rufnummernPortierung" type="tns:RufnummernportierungType"/>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="KuendigungOhneRNPGeschaeftsfallType">
            <xsd:annotation>
               <xsd:documentation>Vorabstimmungsanfrage für den Geschäftsfall VA-KUE-ORN</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractKuendigungGeschaeftsfallType">
                  <xsd:sequence>
                     <xsd:element name="anschlussidentifikation"
                                  type="tns:OnkzRufNrType"
                                  minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Zusätzliche Identifikation des Anschlusses</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:simpleType name="LineIDType">
            <xsd:annotation>
               <xsd:documentation>LineID für eindeutige Anschlussidentifizierung</xsd:documentation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Format: "[ITU M.1400 Country Code].[ITU M.1400 CarrierCode].[Unique Number of Line]". Beispiel:
        DEU.EKP1.1754639821
      </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="7"/>
               <xsd:maxLength value="21"/>
               <xsd:pattern value="[0-9A-Z]{3}\.[0-9A-Z]{1,6}\.[0-9A-Z]{1,10}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="MajorVersionType">
            <xsd:annotation>
               <xsd:documentation>Hauptrelease-Nummer der Schnittstellenversion</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:length value="2"/>
               <xsd:pattern value="[0-9]{2}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="MeldungABBMType">
            <xsd:annotation>
               <xsd:documentation>Abbruchmeldung (ABBM)</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractMeldungType">
                  <xsd:sequence>
                     <xsd:element name="position" type="tns:MeldungsPositionABBMType" maxOccurs="99"/>
                     <xsd:element name="wechseltermin" type="tns:TerminType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Wechseltermin</xsd:documentation>
                           <xsd:documentation source="http://www.vatm.de/wbci/doc/notes">Pflichtangabe bei der Antwort auf eine Terminverschiebung: neuer Termin bei ERLM, ursprünglicher
                Termin bei ABBM.
              </xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="stornoIdRef" type="tns:StornoIdType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Referenz auf die Stornoanfrage</xsd:documentation>
                           <xsd:documentation source="http://www.vatm.de/wbci/doc/notes">Pflichtangabe bei Meldungen zu Stornoanfragen</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="aenderungsIdRef" type="tns:AenderungsIdType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Referenz auf die Änderungsanfrage</xsd:documentation>
                           <xsd:documentation source="http://www.vatm.de/wbci/doc/notes">Pflichtangabe bei Meldungen zur Terminverschiebung</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="begruendung" type="tns:Freitext255Type" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Begründung der Ablehnung</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="MeldungABBM_TRType">
            <xsd:annotation>
               <xsd:documentation>Abbruchmeldung techn. Ressource (ABBM-TR)</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractMeldungType">
                  <xsd:sequence>
                     <xsd:element name="position"
                                  type="tns:MeldungsPositionABBM_TRType"
                                  maxOccurs="99"/>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="MeldungAKM_TRType">
            <xsd:annotation>
               <xsd:documentation>Mitteilung zur Übernahme der technischen Ressource (AKM-TR)</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractMeldungType">
                  <xsd:sequence>
                     <xsd:element name="position"
                                  type="tns:MeldungsPositionAKM_TRType"
                                  maxOccurs="99"/>
                     <xsd:element name="ressourcenuebernahme" type="xsd:boolean">
                        <xsd:annotation>
                           <xsd:documentation>Ressourcenübernahme</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="uebernahmeLeitung"
                                  type="tns:UebernahmeLeitungType"
                                  minOccurs="0"
                                  maxOccurs="99"/>
                     <xsd:element name="sichererHafen" type="xsd:boolean">
                        <xsd:annotation>
                           <xsd:documentation>Sicherer Hafen</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="portierungskennungPKIauf"
                                  type="tns:PortierungskennungType"
                                  minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Portierungskennung des PKIauf gemäß dem Nummernplan Portierungskennungen der Bundesnetzagentur</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="MeldungERLMType">
            <xsd:annotation>
               <xsd:documentation>Erledigungsmeldung (ERLM)</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractMeldungType">
                  <xsd:sequence>
                     <xsd:element name="position" type="tns:MeldungsPositionERLMType" maxOccurs="99"/>
                     <xsd:element name="wechseltermin" type="tns:TerminType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Wechseltermin</xsd:documentation>
                           <xsd:documentation source="http://www.vatm.de/wbci/doc/notes">Pflichtangabe bei der Antwort auf eine Terminverschiebung: neuer Termin bei ERLM, ursprünglicher
                Termin bei ABBM.
              </xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="stornoIdRef" type="tns:StornoIdType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Referenz auf die Stornoanfrage</xsd:documentation>
                           <xsd:documentation source="http://www.vatm.de/wbci/doc/notes">Pflichtangabe bei Meldungen zu Stornoanfragen</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="aenderungsIdRef" type="tns:AenderungsIdType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Referenz auf die Änderungsanfrage</xsd:documentation>
                           <xsd:documentation source="http://www.vatm.de/wbci/doc/notes">Pflichtangabe bei Meldungen zur Terminverschiebung</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="MeldungRUEM_VAType">
            <xsd:annotation>
               <xsd:documentation>Vorabstimmungsantwort (RUEM-VA)</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractMeldungType">
                  <xsd:sequence>
                     <xsd:element name="position"
                                  type="tns:MeldungsPositionRUEM_VAType"
                                  maxOccurs="99"/>
                     <xsd:element name="ressource"
                                  type="tns:TechnischeRessourceType"
                                  minOccurs="0"
                                  maxOccurs="99"/>
                     <xsd:element name="technologie" type="tns:TechnologieType" minOccurs="0"/>
                     <xsd:element name="wechseltermin" type="tns:TerminType">
                        <xsd:annotation>
                           <xsd:documentation>Wechseltermin</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="rufnummernPortierung"
                                  type="tns:RufnummernportierungMeldungType"
                                  minOccurs="0"/>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="MeldungsPositionABBMType">
            <xsd:annotation>
               <xsd:documentation>Meldungsposition bei der ABBM</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractMeldungsPositionType">
                  <xsd:sequence>
                     <xsd:element name="Rufnummer"
                                  type="tns:RufnummerType"
                                  minOccurs="0"
                                  maxOccurs="10">
                        <xsd:annotation>
                           <xsd:documentation>Rufnummern bei MC RNG (Rufnummer ist nicht geschaltet)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="MeldungsPositionABBM_TRType">
            <xsd:annotation>
               <xsd:documentation>Meldungsposition bei der ABBM-TR</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractMeldungsPositionType"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="MeldungsPositionAKM_TRType">
            <xsd:annotation>
               <xsd:documentation>Meldungsposition bei der AKM-TR</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractMeldungsPositionType"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="MeldungsPositionERLMType">
            <xsd:annotation>
               <xsd:documentation>Meldungsposition bei der ERLM</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractMeldungsPositionType"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="MeldungsPositionRUEM_VAType">
            <xsd:annotation>
               <xsd:documentation>Meldungsposition bei der RUEM-VA</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractMeldungsPositionType">
                  <xsd:sequence>
                     <xsd:element name="adresseAbweichend"
                                  type="tns:AdresseAbweichendType"
                                  minOccurs="0"/>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:simpleType name="MeldungscodeType">
            <xsd:annotation>
               <xsd:documentation>Kurzbezeichnung zum Meldungstext</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="10"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="MeldungstextType">
            <xsd:annotation>
               <xsd:documentation>Ausführliche Beschreibung für den Meldungscode</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="255"/>
               <xsd:whiteSpace value="collapse"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="MinorVersionType">
            <xsd:annotation>
               <xsd:documentation>Zwischenrelease-Nummer der Schnittstellenversion</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:length value="2"/>
               <xsd:pattern value="[0-9]{2}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="NachnameType">
            <xsd:annotation>
               <xsd:documentation>Nachname</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="30"/>
               <xsd:whiteSpace value="collapse"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="OnkzDurchwahlAbfragestelleType">
            <xsd:annotation>
               <xsd:documentation>Kombination aus ONKZ, Durchwahlnummer und Abfragestelle (für die Anlagenanschlüsse)</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="ONKZ" type="tns:OrtsnetzkennzahlType">
                  <xsd:annotation>
                     <xsd:documentation>Ortsnetzkennzahl des Anschlusses für Rufnummer</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="durchwahlnummer" type="tns:DurchwahlnummerType"/>
               <xsd:element name="abfragestelle" type="tns:AbfragestelleType"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="OnkzRufNrPortierungskennerType">
            <xsd:annotation>
               <xsd:documentation>ONKZ und Rufnummer mit dem Portierungskenner</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:OnkzRufNrType">
                  <xsd:sequence>
                     <xsd:element name="portierungskennungPKIabg" type="tns:PortierungskennungType">
                        <xsd:annotation>
                           <xsd:documentation>Portierungskennung des abgebenden Portierungskennungsinhabers (PKIabg) gemäß des Nummernplans Portierungskennungen der Bundesnetzagentur
              </xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="OnkzRufNrType">
            <xsd:annotation>
               <xsd:documentation>Kombination ONKZ und Rufnummer</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="ONKZ" type="tns:OrtsnetzkennzahlType">
                  <xsd:annotation>
                     <xsd:documentation>Ortsnetzkennzahl des Anschlusses</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="rufnummer" type="tns:RufnummerType">
                  <xsd:annotation>
                     <xsd:documentation>Rufnummer des Anschlusses</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="OrtsnameType">
            <xsd:annotation>
               <xsd:documentation>Name/Bezeichnung der Ortsangabe im Rahmen von Adressanschriften</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="40"/>
               <xsd:whiteSpace value="collapse"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="OrtsnetzkennzahlType">
            <xsd:annotation>
               <xsd:documentation>Die Ortsnetzkennzahl</xsd:documentation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">ohne führende '0'</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="2"/>
               <xsd:maxLength value="5"/>
               <xsd:pattern value="[1-9]\d{1,4}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="PersonOderFirmaType">
            <xsd:annotation>
               <xsd:documentation>Auswahl zwischen Angaben zu Person oder Firma</xsd:documentation>
            </xsd:annotation>
            <xsd:choice>
               <xsd:annotation>
                  <xsd:documentation/>
               </xsd:annotation>
               <xsd:element name="firma" type="tns:FirmaType">
                  <xsd:annotation>
                     <xsd:documentation>Firma bei Firmenadressen</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="person" type="tns:PersonType">
                  <xsd:annotation>
                     <xsd:documentation>Person bei Adressen natürlicher Personen</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:choice>
         </xsd:complexType>
         <xsd:complexType name="PersonType">
            <xsd:annotation>
               <xsd:documentation>Angaben zur Person</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="anrede" type="tns:AnredePersonEnumType"/>
               <xsd:element name="vorname" type="tns:VornameType" minOccurs="0"/>
               <xsd:element name="nachname" type="tns:NachnameType"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="PortierungDurchwahlanlageType">
            <xsd:annotation>
               <xsd:documentation>Angaben zur Rufnummernportierung eines Durchwahlanlagenanschlusses</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="onkzDurchwahlAbfragestelle"
                            type="tns:OnkzDurchwahlAbfragestelleType"/>
               <xsd:element name="zuPortierenderRufnummernblock"
                            type="tns:RufnummernblockType"
                            maxOccurs="5">
                  <xsd:annotation>
                     <xsd:documentation>Auflistung der zu portierenden Rufnummernblöcke</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="PortierungEinzelanschlussType">
            <xsd:annotation>
               <xsd:documentation>Angaben zu dem Einzelanschluss, von dem die Rufnummern portiert werden sollen</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="rufnummernliste" type="tns:RufnummernListeType">
                  <xsd:annotation>
                     <xsd:documentation>Zu portierenden Rufnummern des Anschlusses</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="alleRufnummern" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Alle Rufnummern des Anschlusses müssen portiert werden.</xsd:documentation>
                     <xsd:documentation source="http://www.vatm.de/wbci/doc/important">Wird nur bei Anschlüssen mit mehreren Rufnummern ausgewertet</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:boolean">
                        <xsd:pattern value="true"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="PortierungRufnummernMeldungType">
            <xsd:annotation>
               <xsd:documentation>Informationen über zu portierenden Rufnummern</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="zuPortierendeOnkzRnr"
                            type="tns:OnkzRufNrPortierungskennerType"
                            maxOccurs="10">
                  <xsd:annotation>
                     <xsd:documentation>Auflistung der zu portierenden ONKZ/Rufnummern</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="PortierungRufnummernbloeckeMeldungType">
            <xsd:annotation>
               <xsd:documentation>Informationen über zu portierenden Rufnummernblöcken</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="onkzDurchwahlAbfragestelle"
                            type="tns:OnkzDurchwahlAbfragestelleType"/>
               <xsd:element name="zuPortierenderRufnummernblock"
                            type="tns:RufnummernblockPortierungskennerType"
                            maxOccurs="5">
                  <xsd:annotation>
                     <xsd:documentation>Auflistung zu portierender Rufnummernblöcke am Anlagenanschluss</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="PortierungskennungType">
            <xsd:annotation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Format: D[NNN], wo N - eine Hexadezimalziffer (0-9 oder A-F). Beispiel: D001.</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:length value="4"/>
               <xsd:pattern value="D[0-9A-F]{3}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="PortierungszeitfensterEnumType">
            <xsd:annotation>
               <xsd:documentation>Aufzählung der möglichen Portierungszeitfenster</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="ZF1">
                  <xsd:annotation>
                     <xsd:documentation>6 bis 8 Uhr</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
               <xsd:enumeration value="ZF2">
                  <xsd:annotation>
                     <xsd:documentation>6 bis 12 Uhr (Standard Zeitfenster)</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
               <xsd:enumeration value="ZF3">
                  <xsd:annotation>
                     <xsd:documentation>frei wählbar</xsd:documentation>
                  </xsd:annotation>
               </xsd:enumeration>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="PostleitzahlType">
            <xsd:annotation>
               <xsd:documentation>Angabe einer Postleitzahl</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:length value="5"/>
               <xsd:pattern value="\d{5}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="ProjektIDType">
            <xsd:annotation>
               <xsd:documentation>Eindeutige Identifikation eines Projektes</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="projektkenner" type="tns:ProjektkennerType">
                  <xsd:annotation>
                     <xsd:documentation>Eindeutige ID des Projektes</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="kopplungskenner" type="tns:KopplungskennerType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Eindeutige ID zur Kopplung mehrerer Aufträge innerhalb des Projektes</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="ProjektkennerType">
            <xsd:annotation>
               <xsd:documentation>eindeutige Identifikation eines Projektes</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="30"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="ReineRufnummernportierungGeschaeftsfallType">
            <xsd:annotation>
               <xsd:documentation>Vorabstimmungsanfrage für den Geschäftsfall VA-RRNP, reine Rufnummernportierung</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:VorabstimmungType">
                  <xsd:sequence>
                     <xsd:element name="rufnummernPortierung"
                                  type="tns:RufnummernportierungMitPortierungskennungType"/>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:simpleType name="RufnummerType">
            <xsd:annotation>
               <xsd:documentation>Die Rufnummer</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="14"/>
               <xsd:pattern value="\d{1,14}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="RufnummernBlockType">
            <xsd:annotation>
               <xsd:documentation>Der Rufnummernblock eines Anlagenanschlusses</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="6"/>
               <xsd:pattern value="\d{1,6}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="RufnummernListeType">
            <xsd:sequence>
               <xsd:element name="zuPortierendeOnkzRnr" type="tns:OnkzRufNrType" maxOccurs="10">
                  <xsd:annotation>
                     <xsd:documentation>Auflistung der zu portierenden ONKZ/Rufnummern</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="RufnummernblockPortierungskennerType">
            <xsd:annotation>
               <xsd:documentation>Rufnummernblock mit dem Portierungskenner</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:RufnummernblockType">
                  <xsd:sequence>
                     <xsd:element name="portierungskennungPKIabg" type="tns:PortierungskennungType">
                        <xsd:annotation>
                           <xsd:documentation>Portierungskennung des abgebenden Portierungskennungsinhabers (PKIabg) gemäß des Nummernplans Portierungskennungen der Bundesnetzagentur
              </xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="RufnummernblockType">
            <xsd:annotation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">
        - der Wert von 'Rufnummernblock von' muss kleiner sein als der Wert von 'Rufnummernblock bis'
        - die Nummernblocklänge von 'Rufnummernblock von' und 'Rufnummernblock bis' müssen jeweils die gleiche Stellenzahl aufweisen
        - alle Ziffern außer der
        ersten Ziffer müssen bei 'Rufnummernblock von' gleich '0' sein, beispielsweise '20', '300'
        - alle Ziffern außer der ersten Ziffer müssen bei
        'Rufnummernblock bis' gleich '9' sein, beispielsweise '29', '499'
        - die Schnittmenge der angegebenen Rufnummernblöcke muss eine leere Menge sein,
        die Rufnummernblöcke dürfen sich nicht überschneiden
      </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="rnrBlockVon" type="tns:RufnummernBlockType">
                  <xsd:annotation>
                     <xsd:documentation>Untergrenze innerhalb des zu portierenden Rufnummernblocks</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="rnrBlockBis" type="tns:RufnummernBlockType">
                  <xsd:annotation>
                     <xsd:documentation>Obergrenze innerhalb des zu portierenden Rufnummernblocks</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="RufnummernportierungMeldungType">
            <xsd:annotation>
               <xsd:documentation>Hinweise zu der Portierung von Rufnummern oder Rufnummernblöcken eines Einzel- oder Anlagenanschlusses</xsd:documentation>
            </xsd:annotation>
            <xsd:choice>
               <xsd:element name="portierungRufnummern" type="tns:PortierungRufnummernMeldungType">
                  <xsd:annotation>
                     <xsd:documentation>Hinweise zu der Portierung von Rufnummern eines Anschlusses</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="portierungRufnummernbloecke"
                            type="tns:PortierungRufnummernbloeckeMeldungType">
                  <xsd:annotation>
                     <xsd:documentation>Hinweise zu der Portierung von Rufnummernblöcken eines Anlagenanschlusses</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:choice>
         </xsd:complexType>
         <xsd:complexType name="RufnummernportierungMitPortierungskennungType">
            <xsd:annotation>
               <xsd:documentation>Angaben zur Rufnummernportierung mit der Portierungskennung</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:RufnummernportierungType">
                  <xsd:sequence>
                     <xsd:element name="portierungskennungPKIauf" type="tns:PortierungskennungType">
                        <xsd:annotation>
                           <xsd:documentation>Portierungskennung des aufnehmenden Portierungskennungsinhabers (PKIauf) gemäß des Nummernplans Portierungskennungen der Bundesnetzagentur</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="RufnummernportierungType">
            <xsd:annotation>
               <xsd:documentation>Angaben zur Rufnummernportierung</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:choice>
                  <xsd:element name="anlagenanschluss" type="tns:PortierungDurchwahlanlageType">
                     <xsd:annotation>
                        <xsd:documentation>Angaben zur Rufnummernportierung eines Durchwahlanlagenanschlusses</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="einzelanschluss" type="tns:PortierungEinzelanschlussType">
                     <xsd:annotation>
                        <xsd:documentation>Angaben zum Einzelanschluss, von dem die Rufnummern portiert werden sollen</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:choice>
               <xsd:element name="portierungszeitfenster" type="tns:PortierungszeitfensterEnumType">
                  <xsd:annotation>
                     <xsd:documentation>Portierungszeitfenster</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="SignatureIssuerType">
            <xsd:annotation>
               <xsd:documentation>Der Identifikator des Ausstellers des Zertifikats</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:whiteSpace value="replace"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="SignatureSerialIdType">
            <xsd:annotation>
               <xsd:documentation>Die Seriennummer des Zertifikats (eindeutig je Aussteller)</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:whiteSpace value="replace"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="StandortType">
            <xsd:annotation>
               <xsd:documentation>Enthält Angaben zum Standort</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="strasse" type="tns:StrasseType">
                  <xsd:annotation>
                     <xsd:documentation>Straße des Standortes</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="postleitzahl" type="tns:PostleitzahlType">
                  <xsd:annotation>
                     <xsd:documentation>PLZ des Standortes</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ort" type="tns:OrtsnameType">
                  <xsd:annotation>
                     <xsd:documentation>Ort des Standortes</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="StornoAenderungEKPabgType">
            <xsd:annotation>
               <xsd:documentation>Änderungsanfrage seitens EKPabg</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractStornoAenderungType">
                  <xsd:sequence>
                     <xsd:element name="stornogrund" type="tns:Freitext255Type">
                        <xsd:annotation>
                           <xsd:documentation>Stornogrund im Falle der Storno EKPabg</xsd:documentation>
                           <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Mögliche Angaben bei der Änderung: Umzug des Endkunden, Wechsel oder Änderung der technischen
                Ressource, Änderung der Rufnummer(n)
              </xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="StornoAenderungEKPaufType">
            <xsd:annotation>
               <xsd:documentation>Änderungsanfrage seitens EKPauf</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractStornoAenderungType"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="StornoAufhebungEKPabgType">
            <xsd:annotation>
               <xsd:documentation>Aufhebungsanfrage seitens EKPabg</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractStornoAufhebungType">
                  <xsd:sequence>
                     <xsd:element name="name" type="tns:PersonOderFirmaType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Name, Vorname Endkunde, Firmenname/Anschlussinhaber</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="standort" type="tns:StandortType" minOccurs="0"/>
                     <xsd:element name="stornogrund" type="tns:Freitext255Type">
                        <xsd:annotation>
                           <xsd:documentation>Stornogrund im Falle der Storno EKPabg</xsd:documentation>
                           <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Mögliche Angaben bei der Aufhebung: rechtliche Beendigungspflicht, Tod des Endkunden, Kündigung
                oder Widerruf
              </xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="StornoAufhebungEKPaufType">
            <xsd:annotation>
               <xsd:documentation>Aufhebungsanfrage seitens EKPauf</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AbstractStornoAufhebungType"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:simpleType name="StornoIdType">
            <xsd:annotation>
               <xsd:documentation>Eindeutige ID der Stornoanfrage</xsd:documentation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Beispiel: DEU.EKP1.S000000013</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="16"/>
               <xsd:maxLength value="21"/>
               <xsd:pattern value="[0-9A-Z]{3}\.[0-9A-Z]{1,6}\.S[0-9A-Z]{9}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="StornoType" abstract="true">
            <xsd:annotation>
               <xsd:documentation>Abstrakter Basistyp für Stornoanfragen</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AnfrageType">
                  <xsd:sequence>
                     <xsd:element name="stornoId" type="tns:StornoIdType">
                        <xsd:annotation>
                           <xsd:documentation>Eindeutige Storno-ID</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="vorabstimmungsIdRef" type="tns:VorabstimmungsIdType">
                        <xsd:annotation>
                           <xsd:documentation>Referenz auf die Vorabstimmungsanfrage, die storniert werden soll</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="StrasseType">
            <xsd:annotation>
               <xsd:documentation>Enthält Angaben zur Straße</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="strassenname" type="tns:StrassennameType">
                  <xsd:annotation>
                     <xsd:documentation>Straßenname</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="hausnummer" type="tns:HausnummerType">
                  <xsd:annotation>
                     <xsd:documentation>Hausnummer</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="hausnummernZusatz"
                            type="tns:HausnummernZusatzType"
                            minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Hausnummernzusatz</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="StrassennameType">
            <xsd:annotation>
               <xsd:documentation>Angabe der Straße zur Adresse</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="40"/>
               <xsd:whiteSpace value="collapse"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="TechnischeRessourceType">
            <xsd:annotation>
               <xsd:documentation>
                  <xsd:documentation>Angaben zu der technischen Ressource</xsd:documentation>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="vertragsnummer" type="tns:VertragsnummerType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation source="http://www.vatm.de/wbci/doc/notes">Angabe, wenn technische Ressource Vorleistungsprodukt der Telekom ist und die Abstimmung über die Übernahme der Ressource über WITA realisiert wird
          </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="lineID" type="tns:LineIDType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation source="http://www.vatm.de/wbci/doc/notes">Angabe, wenn Vorleistungsprodukt NGA gem. Spezifikation SPRI</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="identifizierer" type="tns:IdentifiziererType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Optionaler Identifizierer des abgebenden EKP</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="kennungTNBabg"
                            type="tns:PortierungskennungType"
                            minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Portierungskennung des abgebenden Teilnehmernetzbetreibers (TNBabg) gemäß des Nummernplans Portierungskennungen der Bundesnetzagentur
          </xsd:documentation>
                     <xsd:documentation source="http://www.vatm.de/wbci/doc/notes">Angabe, wenn Vorleistungsprodukt nicht NGA</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="TechnologieType">
            <xsd:annotation>
               <xsd:documentation>Bezeichnung der Technologie</xsd:documentation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Beispiele: "001 TAL ISDN"</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="25"/>
               <xsd:pattern value="[0-9]{3} .*"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="TerminType">
            <xsd:annotation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">
        Format: YYYY-MM-DD
        Beispiel: 2013-02-18
      </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:date">
               <xsd:pattern value="\d{4}-.*"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="TerminverschiebungType">
            <xsd:annotation>
               <xsd:documentation>Terminverschiebung seitens EKPauf (GF TVS-VA)</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AnfrageType">
                  <xsd:sequence>
                     <xsd:element name="aenderungsId" type="tns:AenderungsIdType">
                        <xsd:annotation>
                           <xsd:documentation>Eindeutige Aenderung-ID</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="vorabstimmungsIdRef" type="tns:VorabstimmungsIdType">
                        <xsd:annotation>
                           <xsd:documentation>Referenz auf die Vorabstimmungsanfrage geändert werden soll</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="name" type="tns:PersonOderFirmaType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Name, Vorname Endkunde, Firmenname/Anschlussinhaber</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="neuerKundenwunschtermin" type="tns:TerminType">
                        <xsd:annotation>
                           <xsd:documentation>Neuer Wunschtermin, wenn der EKPauf einen neuen Termin an den EKPabg übermitteln möchte weil sich z.B. die technische Bereitstellung verschiebt.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="UebernahmeLeitungType">
            <xsd:annotation>
               <xsd:documentation>
                  <xsd:documentation>Angaben zu der technischen Ressource</xsd:documentation>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:choice>
               <xsd:element name="lineID" type="tns:LineIDType">
                  <xsd:annotation>
                     <xsd:documentation>Angabe der zu übernehmenden Line-ID</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="vertragsnummer" type="tns:VertragsnummerType">
                  <xsd:annotation>
                     <xsd:documentation>Angabe der zu übernehmenden WITA Vertragsnummer</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:choice>
         </xsd:complexType>
         <xsd:simpleType name="VertragsnummerType">
            <xsd:annotation>
               <xsd:documentation>Vetragsnummer</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="10"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="VorabstimmungType" abstract="true">
            <xsd:annotation>
               <xsd:documentation>Abstrakter Basistyp für alle Vorabstimmungsanfragen</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="tns:AnfrageType">
                  <xsd:sequence>
                     <xsd:element name="vorabstimmungsId" type="tns:VorabstimmungsIdType"/>
                     <xsd:element name="kundenwunschtermin" type="tns:TerminType">
                        <xsd:annotation>
                           <xsd:documentation>Kundenwunschtermin</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="endkunde" type="tns:PersonOderFirmaType">
                        <xsd:annotation>
                           <xsd:documentation>Enthält Angaben zu Endkunden</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="weitereAnschlussinhaber"
                                  type="tns:PersonOderFirmaType"
                                  minOccurs="0"
                                  maxOccurs="99">
                        <xsd:annotation>
                           <xsd:documentation>Optionale Liste mit weiteren Anschlussinhabern (falls vorhanden)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="projektId" type="tns:ProjektIDType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Eindeutige Identifikation eines Projektes</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:simpleType name="VorabstimmungsIdType">
            <xsd:annotation>
               <xsd:documentation>Eindeutige ID der Vorabstimmungsanfrage</xsd:documentation>
               <xsd:documentation source="http://www.vatm.de/wbci/doc/format">Beispiel: DEU.EKP1.V000000013</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="16"/>
               <xsd:maxLength value="21"/>
               <xsd:pattern value="[0-9A-Z]{3}\.[0-9A-Z]{1,6}\.V[0-9A-Z]{9}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="VorabstimmungsdatenType">
            <xsd:annotation>
               <xsd:documentation/>
            </xsd:annotation>
            <xsd:choice>
               <xsd:element name="originalanfrage">
                  <xsd:annotation>
                     <xsd:documentation>Daten aus der Original-Vorabstimmungsanfrage</xsd:documentation>
                     <xsd:documentation source="http://www.vatm.de/wbci/doc/notes">Für Details siehe die Vorabstimmungsstruktur</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                     <xsd:choice>
                        <xsd:element name="VA-KUE-MRN" type="tns:KuendigungMitRNPGeschaeftsfallType"/>
                        <xsd:element name="VA-KUE-ORN" type="tns:KuendigungOhneRNPGeschaeftsfallType"/>
                        <xsd:element name="VA-RRNP" type="tns:ReineRufnummernportierungGeschaeftsfallType"/>
                     </xsd:choice>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="vorabstimmungsIdRef" type="tns:VorabstimmungsIdType">
                  <xsd:annotation>
                     <xsd:documentation>Referenz auf die Vorabstimmungsanfrage, die storniert bzw. geändert werden soll</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:choice>
         </xsd:complexType>
         <xsd:simpleType name="VornameType">
            <xsd:annotation>
               <xsd:documentation>Vorname</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="tns:ErlaubterZeichenBereichType">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="30"/>
               <xsd:whiteSpace value="collapse"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:element name="ABBM" type="tns:MeldungABBMType"/>
         <xsd:element name="ABBM-TR" type="tns:MeldungABBM_TRType"/>
         <xsd:element name="AKM-TR" type="tns:MeldungAKM_TRType"/>
         <xsd:element name="ERLM" type="tns:MeldungERLMType"/>
         <xsd:element name="RUEM-VA" type="tns:MeldungRUEM_VAType"/>
         <xsd:element name="cancelCarrierChange">
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="STR-AEN-DON" type="tns:StornoAenderungEKPabgType">
                     <xsd:annotation>
                        <xsd:documentation>Änderungsanfrage seitens EKPab</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="STR-AEN-REC" type="tns:StornoAenderungEKPaufType">
                     <xsd:annotation>
                        <xsd:documentation>Änderungsanfrage seitens EKPauf</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="STR-AUF-DON" type="tns:StornoAufhebungEKPabgType">
                     <xsd:annotation>
                        <xsd:documentation>Aufhebungsanfrage seitens EKPab</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="STR-AUF-REC" type="tns:StornoAufhebungEKPaufType">
                     <xsd:annotation>
                        <xsd:documentation>Aufhebungsanfrage seitens EKPauf</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="requestCarrierChange">
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="VA-KUE-MRN" type="tns:KuendigungMitRNPGeschaeftsfallType"/>
                  <xsd:element name="VA-KUE-ORN" type="tns:KuendigungOhneRNPGeschaeftsfallType"/>
                  <xsd:element name="VA-RRNP" type="tns:ReineRufnummernportierungGeschaeftsfallType"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="rescheduleCarrierChange">
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="TVS-VA" type="tns:TerminverschiebungType">
                     <xsd:annotation>
                        <xsd:documentation>Terminverschiebung seitens EKPauf</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="updateCarrierChange">
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element ref="tns:ABBM"/>
                  <xsd:element ref="tns:ABBM-TR"/>
                  <xsd:element ref="tns:AKM-TR"/>
                  <xsd:element ref="tns:ERLM"/>
                  <xsd:element ref="tns:RUEM-VA"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:service name="CarrierNegotiationService">
      <wsdl:port name="CarrierNegotiationServiceJMS"
                 binding="tns:CarrierNegotiationServiceJMSBinding">
         <soap:address location="mnet.SupplierPartner.op.cdm.src.v1.CarrierNegotiationService"/>
         <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
         <jms:targetAddress destination="queue">mnet.SupplierPartner.op.cdm.src.v1.CarrierNegotiationService</jms:targetAddress>
      </wsdl:port>
      <wsdl:port name="CarrierNegotiationServiceHTTP"
                 binding="tns:CarrierNegotiationServiceHTTPBinding">
         <soap:address location="http://@domain.loadbalancer.url@/esb/SupplierPartner/CarrierNegotiationService/v1"/>
      </wsdl:port>
   </wsdl:service>
   <wsdl:portType name="CarrierNegotiationService">
      <wsdl:operation name="rescheduleCarrierChange">
         <wsdl:input message="tns:rescheduleCarrierChange"/>
      </wsdl:operation>
      <wsdl:operation name="requestCarrierChange">
         <wsdl:input message="tns:requestCarrierChange"/>
      </wsdl:operation>
      <wsdl:operation name="cancelCarrierChange">
         <wsdl:input message="tns:cancelCarrierChange"/>
      </wsdl:operation>
      <wsdl:operation name="updateCarrierChange">
         <wsdl:input message="tns:updateCarrierChange"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CarrierNegotiationServiceJMSBinding"
                 type="tns:CarrierNegotiationService">
      <soap:binding style="document"
                    transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
      <jms:binding messageFormat="Text"/>
      <wsdl:operation name="rescheduleCarrierChange">
         <soap:operation style="document"
                         soapAction="/CarrierNegotiationService/rescheduleCarrierChange"/>
         <wsdl:input>
            <soap:body use="literal" parts="in"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="requestCarrierChange">
         <soap:operation style="document"
                         soapAction="/CarrierNegotiationService/requestCarrierChange"/>
         <wsdl:input>
            <soap:body use="literal" parts="in"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="cancelCarrierChange">
         <soap:operation style="document"
                         soapAction="/CarrierNegotiationService/cancelCarrierChange"/>
         <wsdl:input>
            <soap:body use="literal" parts="in"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="updateCarrierChange">
         <soap:operation style="document"
                         soapAction="/CarrierNegotiationService/updateCarrierChange"/>
         <wsdl:input>
            <soap:body use="literal" parts="in"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="CarrierNegotiationServiceHTTPBinding"
                 type="tns:CarrierNegotiationService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="rescheduleCarrierChange">
         <soap:operation style="document"
                         soapAction="/CarrierNegotiationService/rescheduleCarrierChange"/>
         <wsdl:input>
            <soap:body use="literal" parts="in"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="requestCarrierChange">
         <soap:operation style="document"
                         soapAction="/CarrierNegotiationService/requestCarrierChange"/>
         <wsdl:input>
            <soap:body use="literal" parts="in"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="cancelCarrierChange">
         <soap:operation style="document"
                         soapAction="/CarrierNegotiationService/cancelCarrierChange"/>
         <wsdl:input>
            <soap:body use="literal" parts="in"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="updateCarrierChange">
         <soap:operation style="document"
                         soapAction="/CarrierNegotiationService/updateCarrierChange"/>
         <wsdl:input>
            <soap:body use="literal" parts="in"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:message name="rescheduleCarrierChange">
      <wsdl:part name="in" element="tns:rescheduleCarrierChange"/>
   </wsdl:message>
   <wsdl:message name="requestCarrierChange">
      <wsdl:part name="in" element="tns:requestCarrierChange"/>
   </wsdl:message>
   <wsdl:message name="cancelCarrierChange">
      <wsdl:part name="in" element="tns:cancelCarrierChange"/>
   </wsdl:message>
   <wsdl:message name="updateCarrierChange">
      <wsdl:part name="in" element="tns:updateCarrierChange"/>
   </wsdl:message>
</wsdl:definitions>
