hurrican/ak-hurrican-base/src/xsd/sourceAgentRequest.xsd

<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ns0="http://www.evolving.com/wsdl/sa/v1/types"
			targetNamespace="http://www.evolving.com/wsdl/sa/v1/types"
			elementFormDefault="qualified"
		  	attributeFormDefault="unqualified">
		  	
 	<xs:element name="ServiceRequest" type="ns0:ServiceRequest" />
	<xs:element name="ServiceRequestAcknowledgement" type="ns0:ServiceRequestAcknowledgement"/>
	<xs:element name="ServiceRequestFault" type="ns0:ServiceRequestFault"/>
	<xs:element name="ServiceRequestResponse" type="ns0:ServiceRequestResponse"/>
 	 	
	<xs:complexType name="ServiceRequest">
		<xs:sequence>
			<xs:element name="ServiceOrderType" type="xs:string"/>
			<xs:element name="TransactionId" type="xs:string" minOccurs="0"/>
			<xs:element name="ApplicationKeys">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ApplicationKey" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="xs:string"/>
									<xs:element name="Value" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Priority" type="xs:int" minOccurs="0"/>
			<xs:element name="SuspendSeq" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Recovery" type="xs:boolean" minOccurs="0"/>
			<xs:element name="RegionName" type="xs:string" minOccurs="0"/>
			<xs:element name="ReceivedTimestamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="SOData" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
			
	<xs:complexType name="ServiceRequestFault">
		<xs:sequence>
			<xs:element name="TransactionId" form="unqualified" type="xs:string"/>
			<xs:element name="Code" form="unqualified" type="xs:string"/>
			<xs:element name="Description" form="unqualified" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ServiceRequestAcknowledgement">
		<xs:sequence>
			<xs:element name="TransactionId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ServiceRequestResponse">
		<xs:sequence>
			<xs:element ref="ns0:ServiceRequestAcknowledgement"/>
			<xs:element ref="ns0:ServiceRequestFault"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>